fastapi
uvicorn
pydantic
python-dotenv
google-genai
requests
selenium
beautifulsoup4
lxml
numpy
pandas
scikit-learn
apscheduler==3.10.4
pymongo[srv]
passlib[bcrypt]
bcrypt==4.0.1
python-jose
email-validator